.azeret-mono{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.textdc{
    text-decoration: none;
}
header{
    background-image: url(../image/assets/Hero-bg.png);
    /* position: absolute; */
    /* width: 1440px; */
    height: 560px;
    
}
.header-box{
   text-align: center;
}
.header-img{
    margin-top: 20px;

}
header h2{
    color: rgb(13, 19, 33);
    font-weight: lighter;
    font-weight: 900;
    font-size: 48px;
    padding: 0 221px;
    justify-content: flex-start;
    margin: 5px;
}
header p{
    font-size: 16px;
    margin: 15px;
    padding: 5px 350px;
}
.btn{
    background-color: #0D1321;
    font-size: 20px;
    font-weight: bold;
    border: none;
    color: white;
    padding: 18px 20px;
    border-radius: 5px;
}
/*main part*/
.about{
    padding: 50px 77px 50px 77px;
    background-color: rgba(13,19, 33, 0.04);
    width: 60%;
    margin: 0 auto;
    border: 2px solid none;
    margin-top: 50px;
}
.about-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 5px;
}
.main-des{
    display: flex;
    width: 50%;
    height: 190px;
    margin: 0 auto;
    margin-top: 96px;
    padding: 67px;
    background-color: white;
    border-radius: 18px;
}
/* .main-des2{
    display: flex;
    width: 50%;
    margin: 0 auto;
    margin-top: 96px;
    background-color:white;
} */
.main-div{

    width: 60%;
    margin: 0 auto;
}
/*button*/
.btn-main{
    font-weight: bold;
    font-size: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
}
.sub-title{
    display: inline-block;
    color: rgba(13, 19, 33, 0.7);;
    font-weight: bold;
    font-size: 24px;
}
/*main-titlepart*/
.main-title{
    text-align: center;
    color: black;
    font-size: 32px;
    font-weight: 800;
    line-height: 65px;
}
.main-sub1{
     color: #757575;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 3px auto;
    opacity: 0.7;
}
.main-sub{
    /* color: #757575;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    margin: 5px;
    padding: 3px auto;
    opacity: 0.7; */
     width: 100%;
    position: relative;
    font-size: 16px;
    line-height: 26px;
    color: #0d1321;
    text-align: center;
    display: inline-block;
    opacity: 0.7;
}
/* .main-sub2{
    color: #757575;
    font-weight: 300;
    font-size: 14px;
    margin-top: 5px;
    padding: 10px auto;
} */
/*videopart*/
.video-margin{
    /* width: 50%;
    margin: 0 auto;
    height: auto;
    padding: 27px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px; */
    width: 800px;
    height: 410px;
    display: flex;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin-left: 200px;

}
.video-jhn{
    /* width: 100%;
    margin: 0 auto;
    padding-top: 0px;
    border-radius: 16px; */
    padding-left: 50px;
    margin: 50px 0px;
    padding-top: 0px;
    padding-right: 50px;
    width: 600px;
    margin-left: 90px;

}

/* M-sec-2 */

.m-card{
    text-align: center;
    margin: 0px 100px;
}
.card{
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 70px;
}
.card-bg-color{
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    margin: 0px 24px;
    padding: 40px;
    height: 600px;
}
.c-img{
    width: 56px;
    height: 56px;
    margin: 24px 0px;
}
.card-title{
    color: black;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    text-align: left;
}
.card-description{
    color: grey;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 24px;
    opacity: 0.7;
    margin: 8px 0px;

}
a{
    color: black;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
}
.a-tag{
    margin-top: 50px;
}
.js-img-colore{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.html-img-colore{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}
/* m-support */
.m-support{
    width: 1140px;
    height: 313px;
    margin: 0 auto;
    height: 324px;
    border: 2px solid none;
    margin-top: 50px;
}
 .support{
    display: flex;
    flex-direction: column;
    background-image: url("../image/assets/handshake.jpg");
    width: 110%;
    height: 110%;
    margin: initial;
    /* padding: 44px 38px 44px 38px; */
    border-radius: 16px;
    justify-content: center;
    align-items: center;
}
.support-title{
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;   
}
.support-description{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin: 0 124px;
    opacity: 0.7;
}
.sup{
    display: flex;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    padding: 0 155px;
}
.input-text{
    width: 320px;
    height: 57px;
    padding: 19px 20px 19px 10px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin: 54px 38px;

}
.sub-btn{
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 17px 20px 17px 20px;
    width: 120px;
    height: 57px;
    border: none;
    cursor: pointer;
}
   /* footer */
.footer{
    /* margin-top: 25px; */
    width: 80%;
    margin: 0 auto;
    height: 250px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.03);
}
.foot-title{
    width: 450px;
    height: 24px;
    align-items: center;
    margin: 0px 16px;
}
img{
    margin-left: 10px;
    margin-right: 10px;
}




